@font-face {
  font-family: 'cinzel';
  src: url('./assets/fonts/cinzel_variable.ttf') format('truetype');
}
:root{
  --primary-color: rgb(58, 57, 57);
  --secondary-color: rgb(95, 158, 160);
  --error-color: rgb(255, 68, 68);
  --text-color: rgb(240, 248, 255);
  --tertiary-color: rgb(255, 205, 130);
  
  --container-radius: 20px;
  --pop-up-border-radius: 10px; 
  --btn-radius: 5px;

  --header-font: 'cinzel'
}
/*#region html*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* overflow-x:hidden; */
  font-family: var(--header-font);
}
input{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  font-weight: 700;
}
button:hover{
  box-shadow: 0 0 10px var(--secondary-color);
}
a{
  color: var(--tertiary-color);
  text-decoration: none;
}
a:hover{
  color: var(--secondary-color);
}
html{
  height: 100%
}
#page-container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  margin: 10px 0;
  border-bottom: 6px double var(--secondary-color);
  align-items: center;
  flex-basis: 100%;
}
  header > h1{
    font-size: x-large;
    color: var(--tertiary-color);
    margin:2px;
    padding: 2px;
  }
  header > img{
    max-width: 1000px;
    object-fit:cover;
    aspect-ratio: 26/7;
  }
  .loginBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px 20px;
    font-weight: 700;
    font-size: 1.2em;
    width: 120px;
    height: 40px;
    padding: 10px;
  }
  .loginSVG{
    max-width: 25px;
    margin: 2px 2px 2px 5px;
  }
  .login_dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    color: rgb(240, 248, 255);
    border: none;
    background-color: var(--secondary-color);
    background-color: rgba(0,0,0,0.4);
    /* pointer-events: none; */
  }
  .login-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--primary-color);
    border: 5px solid var(--secondary-color);
    border-radius: var(--pop-up-border-radius);
    justify-content: center;
    align-items: center;
    width: 500px;
    z-index: 1;
  }
    .login-container > img{
      width: 100px;
      margin: 5px;
      border: solid 5px var(--secondary-color);
      border-radius: var(--container-radius);
    }
    .welcomeMsg{
      padding: 20px;
      color: var(--text-color);
    }
    .login_form{
      display: flex;
      flex-direction: column;
      padding: 0 10px 10px 10px;
      z-index: 1;
    }
      .login_form > input{
        border-radius: var(--btn-radius);
        height: 30px;
        font-size: medium;
        padding: 5px;
        margin: 6px 5px;
        max-width: fit-content;
        align-self: center;
      }
      .password-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
      }
      .password_txt{
        border-radius: var(--btn-radius);
        height: 30px;
        font-size: medium;
        padding: 5px;
        margin: 6px 5px 6px 30px;
        max-width: fit-content;
        align-self: center;
        z-index: 1;
      }
      .username_txt{
        border-radius: var(--btn-radius);
        height: 30px;
        font-size: medium;
        padding: 5px;
        /* margin: 6px 5px 6px 30px; */
        max-width: fit-content;
        align-self: center;
        z-index: 1;
      }
      .view-password{
        width: 25px;
        cursor: pointer;
      }
    .login-controls{
      display: flex;
      flex-direction: row;
      align-self: center;
    }
      .login-controls > button{
        width: fit-content;
        padding: 10px;

      }
    .error-container{
      /* width: 310px; */
      align-self: center;
      padding: 5px;
    }
      .error-msg{
        text-align: center;
        max-width: 350px;
        color: var(--error-color);
        font-size: smaller;
        line-height: 1.2em;
      }

footer{
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--secondary-color);
  padding: 5px;
  min-height: 50px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
  z-index: 1;
}
footer > img{
  max-width: 200px;
  padding: 0px 0px 0px 10px;
  margin: 10px;
}
footer > h4{
  padding: 0px 10px 0px 10px;
  color: var(--tertiary-color);
  font-weight: 400;
  margin: 10px;
}
body{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color:var(--text-color);;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.content{
  display: flex;  
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: none;
  align-content: flex-start;
  min-height: 100vh;
  /* box-shadow: 0 0 15px var(--secondary-color); */
}
  .hero-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 5px solid var(--secondary-color); */
    position: relative;
    height: 100vh;
   
  }
  .hero-section > *{
    padding: 20px 20px;
    margin: 4px;
    z-index: 1;
    /* text-wrap: balance; */
  }
  .hero-section::before{
    content:"";
    background-image: url('./assets/images/jpeg/hero-image.jpeg');
    background-size: cover;
    min-height: 540px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
  }
  .flex-wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .flex-wrapper > h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 8em;
  }
  .flex-wrapper > h1 > span{
    font-size: 1.5em;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--tertiary-color);
  }
  .hero_btn{
    padding: 10px;
    font-size: 1.3em;
  }
  .hero-content{
    margin-top: 10px;
    padding: 5px;
    max-width: 990px;
    width: fit-content;
    text-align: center;
    font-size: 2em;
  }
  .content > div{
    align-self: center;
    padding: 5px;
    margin: 50px;
    height: 250px;
  }
  .content-container{
    flex-direction: row;
    justify-content: flex-start;
  }
  .usp-text-container{
    padding: 10px;
    max-width: 600px;
    text-wrap: balance;
  }
  .title{
    align-self: flex-start;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--secondary-color);
    font-size: 1.5em;
    margin-bottom: 10px; 
  }

  .content-image{
    max-width: 200px;
    border: 4px solid var(--secondary-color);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 15px var(--secondary-color);
  }

  .folders-section{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-right: 20px;
    max-width: 20%;
    min-width: 225px;
    margin-top: 10px;
  }
    .folders-section > .container{
      padding: 5px;
      border: 2px solid var(--secondary-color);
      border-radius: var(--container-radius);
      flex-basis: 50%;
      margin-left: 20px;
    }
  .tasks-section{
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    visibility: hidden;
    max-width: fit-content;
    margin-right: 20px;
    margin-top: 10px;
  }
    .tasks-section > .container{
      border: 2px solid var(--secondary-color);
      border-radius: var(--container-radius);
      padding: 10px;
      flex-basis: 50%;
    }
  .quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--secondary-color);
    border-radius: var(--container-radius);
    padding: 10px;
    min-height: fit-content;
  }
    .quote{
      margin-top: 20px;
      padding: 5px 10px;
      font-size: xx-large; 
      max-width: fit-content; 
    }
    .quote-author{
      align-self: flex-end;
      padding: 5px 10px;
      margin-bottom: 20px;
    }

button{
  padding: 5px;   
  margin: 5px;
  border-radius: var(--btn-radius);
  cursor: pointer;
}
button:focus{ 
  outline: none !important;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--secondary-color);
}
/* #newTask{
  padding: 5px;
} */
/*#endregion html*/

/*#region modal*/
.modal{
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: var(--secondary-color);
  background-color: rgba(0,0,0,0.4);
}
  .modal-content{
    display: flex;
    flex-direction: column;
    border-radius: var(--pop-up-border-radius);
    margin: 15% auto;
    border: 5px solid var(--secondary-color);
    width: 600px; 
    height: fit-content;
    background-color: var(--primary-color);
    justify-content: space-between;
  }
  .modal-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    /* height: 60px; */
  }
  .modal-header > h1{
    align-self: center;
    flex-basis: 100%;
    padding: 50px 10px 10px 10px;
    color: var(--text-color);
  }
  .modal-close {
    width: 40px;
    margin: 10px 10px 60px 10px;
    /* align-self: center; */
  }
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content > form{
    font-size: 20px;
    /* padding: 10px 20px 10px 20px; */
    flex-basis: 100%;
  }
  #folderField > label{
    padding: 10px;
  }
  #folderField > input{
    padding: 10px;
    border-radius: var(--btn-radius);
    background-color: #888;
    
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
    form > div{
      display: flex;
      flex-direction: column;
      width: fit-content
    }
    form > button{
      display: flex;
      padding: 10px;
      width: 100px;
      height:40px;
      align-self: flex-end;
      align-items: center;
      justify-content: center;
      font-size: 0.8em;
      margin: 10px;
    }
    #addBtn > img{
      margin: 0 0 0 5px;
      width: 25px;
      align-items: center;
    }
    #formFieldContainer > div{
      display: flex;
      flex-direction: row;
      padding: 5px;
      margin-left: 10px;
    }
    #formFieldContainer > div > label{
      display: flex;
      flex-basis:50%;
      align-items: center;
      padding-right: 5px;
      color: var(--text-color);
    }
    #formFieldContainer > div > input{
      display: flex;
      align-items: center;
      flex-basis:50%;
      margin: 5px;
      border-radius: var(--btn-radius);
      min-width: 100px;
      z-index: 1;
    }
    #formFieldContainer > div:nth-child(4){
      /* display: flex; */
      /* flex-direction: row; */
    
    }
    #formFieldContainer > div:nth-child(4) > label{
      align-self: start;

    }
    #formFieldContainer > div:nth-child(4) > div:nth-child(2){
      /* flex-basis: 100%; */
      
    }
    #formFieldContainer > div:nth-child(4) > div{

      /* border: green 2px solid; */
    }
    .radio-wrapper{
      display: flex;
      flex-direction: column;
      max-width: fit-content;
      color: var(--text-color);
     
    }
    .radio-wrapper > div{
      display: flex;
      align-items: center;
    }
    .radio-wrapper > div > input{
      margin: 0
    }
    .radio-wrapper > div > label{
      flex-basis: 100%;
      padding-left: 0.3em;
    }

    #formFieldContainer > div > input[type='text']{
      padding: 3px;
    }
    #formFieldContainer > div > input[type='date']{
      padding: 3px;
    }
    #errorMsgDisplay{
      visibility: hidden;
      color: rgb(255, 68, 68);
      font-weight: 500;
      font-size: 0.9rem;
    }
/*#endregion modal*/

/*#region folders*/ 
#folder-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 10px 0;
  align-items: center;
  border-bottom: 2px dotted var(--secondary-color);
}

#folder-subtitle > *{
  padding: 5px;
}
#folder-subtitle > img{
  max-width: 50px;
  max-height: 50px;
}
#folder-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
  #folder-content > ul{
    padding: 0;
    margin: 0 0 8px 0;
  }
    #folder-content > ul > .folder-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
      cursor: pointer;
      padding: 0.2em;
      border: transparent
    }
    #folder-content > ul > .folder-container:hover{
      background-color: rgba(95, 158, 160, 0.308);
      border-radius: var(--pop-up-border-radius)
    }
    #folder-content > ul > div > li{
      list-style-type: none;
      max-width: 100px;
      min-width: fit-content;
      margin-right: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .folder-container > *{
      /* padding: 0.2em; */
      text-align: center;
      align-items: center;
    }
    .folder-container.active{
      /* border: 2px solid  */
      border-radius: var(--btn-radius);
      background-color: rgba(95, 158, 160, 0.308);
      box-shadow: 0 0 0 2px var(--text-color);;
    }
    .counter-container{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      max-width: fit-content;
    }
    .folder-counter{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2px;
      padding-right: 1px;
      background: -webkit-radial-gradient(25px 25px, circle, rgb(95, 158, 160), rgba(95, 158, 160, 0.308));
      background: radial-gradient(25px 25px, circle, rgb(95, 158, 160), rgba(95, 158, 160, 0.308));
      border-radius: 50%;
      width: 25px;
      height: 25px;
      /* pointer-events: none; */
    }
    .animation-container:hover .delete-container.hovered{
      flex: auto;
    }
    .delete-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0;
      transition: flex 1s; 
    }
    .createBtn{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .createBtn > img{
      width: 25px;
      margin-left: 5px;
    }
.confirmDelete_dialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  color: var(--text-color);;
  border: none;
  background-color: var(--secondary-color);
  background-color: rgba(0,0,0,0.4);
  /* pointer-events: none; */
}
  .dialog-content{
    display: flex;
    flex-direction: column;
    border: 5px solid var(--secondary-color);
    border-radius: var(--pop-up-border-radius);
    background-color: #363636;
    max-width: fit-content;
    padding: 20px;
  }
    .dialogMsg-container{
      display: flex;
      flex-direction: column;
      padding: 2px;
    }
      .deleteMsg{
        padding: 15px;
      }
      .deleteMsg_span{
        align-self: center;
        text-decoration: underline;
        padding: 5px;
        color: rgb(255, 68, 68);
      }
    .dialog-controls{
      align-self: flex-end;
    }
      .confirmDelete_btn:hover{
        background-color: rgb(255, 68, 68);
      }
      .cancelDelete_btn{

      }

    @keyframes trashFadeIn {
      100% {opacity:100%}
      50.02% {opacity:50.02%}
      50.01% {opacity:50.01%}
      50% {opacity:50%}
      25% {opacity:25%}
      0% {opacity:0%}
    }
    .delete-container > img {
      display: none;
      max-width: 20px;
      max-height: 20px;
      animation: trashFadeIn 800ms ease-in;
    }
    .animation-container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      margin: 5px;
      /* width: 60px */
    }
    .edit-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 40px;
      margin: 2px;
    }
    .edit-container > img {
      display: flex;
      max-width: 20px;
      max-height: 20px;
      
    }
    .tooltip {
      position: relative;
      display: inline-block;
      /* border-bottom: 1px dotted black; */
    }
    .tooltipText {
      visibility: hidden;
      width: 120px;
      background-color:rgba(0, 0, 0, 0.733);
      color: #fff;
      text-align: center;
      border-radius: var(--btn-radius);
      padding: 5px 0px;
      white-space: nowrap;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
      font-size: small;
    }
    .tooltip .tooltipText::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.733) transparent transparent transparent;
    }
    .tooltip:hover .tooltipText {
      visibility: visible;
    }
    .editing-container{
      display: flex;
      align-items: center;
    }
    .editFolderInput{
        color: var(--tertiary-color);
        width: 70px;
        text-align: start;
        background: transparent;
        border: none;
        border-bottom: solid 1px var(--text-color);
        padding: 2px 4px;
        margin: 2px;
    }
    .updateCheck{
      width: 20px;
    }
    .saveEditBtn{
      width: min-content;
      padding:0px 2px;
      font-size: small;
      white-space: nowrap;
      margin: 0px 0px 0px 2px;
    }
/*#endregion folders*/

/*#region tasks*/
#tasks-subtitle{
  margin: 0 0 10px 0;
  padding-bottom: 0.5em;
  border-bottom: 2px dotted var(--secondary-color);
}
#tasks-content{
  display: flex;
  flex-direction: column;
}
#tasks-content > ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
}
#tasks-content > ul > li{
  list-style-type: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0 0 10px 10px;
  margin-bottom: 15px;
  border-bottom: 2px dotted var(--secondary-color);
}

.taskDetails.completed{
  opacity: 30%;
  text-decoration: line-through;
}
.item-container.low-prio{
  border-left: 4px solid rgb(0, 255, 0);
}
.item-container.medium-prio{
  border-left: 4px solid yellow;
}
.item-container.high-prio{
  border-left: 4px solid red;
}
#tasks-content > ul > div.completed{
  border-left: 4px solid rgba(95, 158, 160, 0.4);
}

/* .item-container > *{
  padding: 5px;
  margin: 2px;
} */
/* .item-container > * > *{
  padding: 5px;
  margin: 2px;
} */


li > .taskDetails{
  display: flex;
  flex-direction: column;
}
li > .taskDetails > *{
  padding-bottom: 5px;
}

.item-container > .taskControls{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  /* width: 10%; */
  /* max-width: fit-content; */
  /* flex-basis: 50%;
  flex-grow: 3;
  flex-shrink: 2; */
}
  .taskControls-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px
  }
  .completedChk{
    width: 20px;
    accent-color: var(--secondary-color);
  }
  .taskControls-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    height: 55%;
  }
  .taskControls-bottom > img{
    width: 20px;
  }
  /* .deleteTaskBtn:hover{
    stroke: rgb(129, 24, 24);
  } */

.calendar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  align-items: center;
}
.calendarSVG{
  width: 20px;
}
/* .taskTitle{

} */
.taskDesc{
  font-family:Arial, Helvetica, sans-serif;
  font-size: smaller;

}
.taskDueDate{
  padding-left: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: smaller;
}
/* .taskPriority{

} */
.taskPriority.low-prio{
  color: rgb(0, 255, 0);
}
.taskPriority.medium-prio{
  color: yellow;
}
.taskPriority.high-prio{
  color:red;
}
/* .taskNotes{
  flex-basis: 100%;
} */

/*#endregion tasks*/

/*#region extras*/
/* .reg-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: none;
  align-content: center;
  min-height: 100vh;
} */

.registration_section::before{
  content:"";
  background-image: url('./assets/images/jpeg/hero-image.jpeg');
  background-size: cover;
  min-height: 540px;
  background-repeat: no-repeat;
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}


.registration_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-width: 225px;
  z-index: 1;
}
.reg-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 5px;
  max-width: fit-content;
  border: 2px solid var(--secondary-color);
  border-radius: var(--container-radius);
  z-index: 1;
  margin: 0px 20px;
  background-color: rgba(54, 54, 54, 0.6);
  /* position: absolute; */
  /* bottom: 25%; */
}
.reg-form-container > h2{
  padding: 20px;
  color: var(--text-color);
  text-align: center;
  max-width: 600px;
  text-wrap:balance;
}
.reg-form-container > img{
  width: 100px;
  margin: 5px;
  border: solid 5px var(--secondary-color);
  border-radius: var(--container-radius);
}
.registration_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form * input{
  border-radius: var(--btn-radius);
  height: 30px;
  font-size: medium;
  padding: 5px;
  margin: 6px 5px 0px 5px;
  max-width: fit-content;
  align-self: center;
  z-index: 1;

}
form * input.error{
  border: 2px dashed red;
}
.password-group > input{
  margin-left: 30px;
}
.field-container > div > img{
  /* max-width: 30px; */
  margin-top: 6px;
}
.field-container > .error-msg {
  min-height: 16px;
  max-width: fit-content;
  padding: 2px;
  font-weight: 700;
}
.submit_btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 150px;
  font-size: 1.2em;
  padding: 10px;
}
.submit_btn > img{
  max-width: 25px;
  margin: 2px 2px 2px 5px;
}

.confirm-reg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  color: rgb(240, 248, 255);
  border: none;
  background-color: var(--secondary-color);
  background-color: rgba(0,0,0,0.4);
}
.confirm-reg-msg{
  background-color: var(--primary-color);
  padding: 50px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--container-radius);
}
/*#endregion extras*/

@media screen and (max-width: 1080px){
  .hero-section::before{
    background-size: 100%;
  }
  .hero-section{
    height: fit-content
  }
  
  .reg-content{
    padding: 0px;
  }
  .registration_section{
    height: 86.2vh;
    justify-content: space-between;
  }
  .registration_section::before{
    background-size: contain;
  }

  .reg-form-container{
    /* position: relative; */
    /* bottom:60% */
  }
}