/* @font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/donovan.ttf') format('truetype'),
    url('./assets/fonts/Donovan.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
} */
/*#region html*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* overflow-x: hidden; */
}
header{
  display: flex;
  flex-direction: row;
  min-height: 50px;
  margin: 10px 0 10px 0;
  align-items: center;
  flex-basis: 100%;
}
footer{
  background-color: cadetblue;
  margin: 20px 0 0 0;
  padding: 5px;
  min-height: 50px;
  text-align: center;
}
body{
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 57, 57);
  color:aliceblue;
  width: 80%;
  margin: 0 auto;
  min-height: 85vh;
}
.content{
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  min-height: 85vh;
  /* min-height: 100vh; */
  /* justify-content: center; */
  align-content: flex-start;
}
  .folders-section{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    flex: 1 2 20%;
    margin-right: 20px;
    max-width: 20%;
    min-width: 225px;

  }
    .folders-section > .container{
      padding: 10px;
      border: 2px solid rgb(95, 158, 160);
      border-radius: 20px;
      
    }
  .tasks-section{
    display: flex;
    flex-direction: column;
    flex: 3 2 80%;
    visibility: hidden;
    max-width: fit-content;
    margin-right: 20px;
  }
  .tasks-section > .container{
    border: 2px solid cadetblue;
    border-radius: 20px;
    padding: 10px;
  }
  
/*#endregion html*/
/*#region modal*/
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: cadetblue;
  background-color: rgba(0,0,0,0.4);
}
  .modal-content{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 15% auto;
    border: 5px solid cadetblue;
    width: 600px; 
    flex-wrap: wrap;
    background-color: #363636
  }
  .modal-content > h1{
    width: 85%;
    padding: 20px;
    margin: 0;
  }
  .modal-close {
    width: fit-content;
    /* color: #aaa; */
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    padding:20px
  }
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content > form{
    font-size: 20px;
    padding: 20px;
    flex-basis: 100%;
  }
  #folderField > label{
    padding: 10px;
  }
  #folderField > input{
    padding: 10px;
    border-radius: 5px;
    background-color: #888;
  }
  form{
    display: flex;
    flex-direction: column;
  }
    form > div{
      display: flex;
      flex-direction: column;
      width: fit-content
    }
    form > button{
      padding: 5px;
      align-self: flex-end;
    }
    #formFieldContainer > div{
      display: flex;
      flex-direction: row;
      padding: 5px;
    }
    #formFieldContainer > div > label{
      flex-basis:50%;
      text-align: right;
      padding-right: 5px;
    }
    #formFieldContainer > div > input{
      flex-basis:50%;
      border-radius: 5px;
      min-width: 100px;
    }
    #formFieldContainer > div:nth-child(4){
      display: flex;
      flex-direction: row;
    }
    #formFieldContainer > div:nth-child(4) > label{
      align-self: start;

    }
    #formFieldContainer > div:nth-child(4) > div:nth-child(2){
      flex-basis: 100%;
    }
    #formFieldContainer > div:nth-child(4) > div{
      display: flex;
      flex-direction: column;
      max-width: fit-content;
    }
    #formFieldContainer > div > input[type='text']{
      padding: 3px;
    }
    #formFieldContainer > div > input[type='date']{
      padding: 3px;
    }

/*#endregion modal*/
/*#region folders*/ 
#folder-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  align-items: center;
}
#folder-subtitle > *{
  padding: 10px;
}
#folder-subtitle > .svg-container{
  width: 40px;
  height: 40px;
  padding: 10px;
  /* background-color: red; */
  background: url('./assets/images/svg/folder.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#folder-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}
  #folder-content > ul{
    padding: 0;
    margin: 0 0 10px 0;
  }
    #folder-content > ul > .folder-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      cursor: pointer;
    }
    #folder-content > ul > .folder-container:hover{
      background-color: rgba(95, 158, 160, 0.308);
      border-radius: 10px;
    }
    #folder-content > ul > div > li{
      list-style-type: none;
      max-width: fit-content;
    }
    .folder-container > *{
      padding: 10px;
      margin: 2px;
      text-align: center;
      align-items: center;
    }
    .folder-counter{
      background-color: cadetblue;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      align-content: center;
      pointer-events: none;
    }

/*#endregion folders*/

/*#region tasks*/
#tasks-subtitle{
  margin: 0 0 20px 0;
}
#tasks-content{
  display: flex;
  flex-direction: column;
}
#tasks-content > ul{
  padding: 0;
  margin: 0 0 10px 0;
}
#tasks-content > ul > li{
  border-bottom: 2px dotted cadetblue;
  list-style-type: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  border-left: 4px solid rgba(95, 158, 160, 0.4)
}
.completed > *{
  opacity: 30%;
  text-decoration: line-through;
}
.item-container.low-prio{
  border-left: 4px solid rgb(0, 255, 0);
}
.item-container.medium-prio{
  border-left: 4px solid yellow;
}
.item-container.high-prio{
  border-left: 4px solid red;
}
/* .item-container > *{
  padding: 5px;
  margin: 2px;
} */
/* .item-container > * > *{
  padding: 5px;
  margin: 2px;
} */

.item-container > .taskControls{
  margin-right: 10px;
  display: flex;
  /* width: 10%; */
  /* max-width: fit-content; */
  /* flex-basis: 50%;
  flex-grow: 3;
  flex-shrink: 2; */
}
.item-container > .taskDetails{
  display: flex;
  flex-direction: column;

}
.item-container > .taskDetails > *{
  padding-bottom: 5px;

}
  .completedChk{
    width: 20px;
    /* margin: 0 20px 0 0; */
  }

.taskTitle{
  /* padding: 5px; */
}
.taskDesc{
  /* flex-grow: 2; */
  /* flex-shrink: 1; */
  /* flex-basis: 70%; */
}
.taskDueDate{
  /* flex-grow:  */
  /* min-width: fit-content; */
  /* flex-basis: 20%; */
}
.taskPriority{
  /* flex-grow: 3; */
  /* flex-basis: 75%; */
}
.taskNotes{
  /* flex-basis: 100%; */
}

/*#endregion tasks*/

/*#region extras*/
/* .widgets{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 20px;
  flex-basis: 30%;
  padding: 10px;
}
.countdown{
  border: 2px solid green;
  border-radius: 20px;
  flex-basis: 30%;
  margin: 5px;
}
.calendar{
  border: 2px solid blue;
  border-radius: 20px;
  flex-basis: 30%;
  margin: 5px;
} */
/*#endregion extras*/